# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

coreference/stanford-corenlp-4.1.0
.DS_Store
*.json 
*.csv
*.txt
*.pt
*.sh
*.zip 
*.tsv 
*.pickle
clusters_5
*.npy
get-context/filenames/Adjust_a_Front_Bicycle_Derailleur.txt.bz2
get-context/filenames/Adjust_Immigration_Status_for_a_Stepchild.txt.bz2
get-context/filenames/Adopt_a_Natural_Beauty_Routine_for_Sensitive_Skin.txt.bz2
get-context/filenames/Adopt_a_Rescued_Dog.txt.bz2
get-context/filenames/Advertise_Your_Movie.txt.bz2
get-context/filenames/Analyze_Tone_in_Literature.txt.bz2
get-context/filenames/Ask_Your_Girlfriend_to_Hold_Hands.txt.bz2
get-context/filenames/Attach_Sequins_with_Glue.txt.bz2
get-context/filenames/Attend_a_341_Meeting_of_Creditors.txt.bz2
get-context/filenames/Avoid_Clothes_Creasing_During_Wear.txt.bz2
get-context/filenames/Babysit_Girls_4‐11_Years_Old.txt.bz2
get-context/filenames/Bake.txt.bz2
get-context/filenames/Bandage_Fingers_or_Toes.txt.bz2
get-context/filenames/Bathe_a_Small_Dog_and_Keep_Him_Calm.txt.bz2
get-context/filenames/Bathe_an_Infant.txt.bz2
get-context/filenames/Be_a_Better_Stage_Actor.txt.bz2
get-context/filenames/Be_a_Christian_Metalhead.txt.bz2
get-context/filenames/Be_a_Wiffle_Ball_Pitcher.txt.bz2
get-context/filenames/Be_Emotionless.txt.bz2
get-context/filenames/Be_Good_at_Making_Out.txt.bz2
get-context/filenames/Be_Retro_Cool_for_Females.txt.bz2
get-context/filenames/Beat_Fungus_Brutal_Mode_in_Plague_Inc.txt.bz2
get-context/filenames/Become_a_Dominant_Player_at_Fortnite.txt.bz2
get-context/filenames/Become_a_Scrum_Master.txt.bz2
get-context/filenames/Break_a_Habit.txt.bz2
get-context/filenames/Break_Up_Your_First_Relationship.txt.bz2
get-context/filenames/Bring_Up_Good_Children.txt.bz2
get-context/filenames/Brown_Butter.txt.bz2
get-context/filenames/Brown_Food_in_a_Microwave_Oven.txt.bz2
get-context/filenames/Brush_Your_Hair_to_Get_Waves.txt.bz2
get-context/filenames/Build_a_Freshwater_Predator_Fish_Aquarium.txt.bz2
get-context/filenames/Burn_a_PlayStation_Disc_Using_Nero.txt.bz2
get-context/filenames/Buy_a_Used_Performance_Boat.txt.bz2
get-context/filenames/Care_for_a_Hibernating_Turtle.txt.bz2
get-context/filenames/Care_for_a_Library_Book.txt.bz2
get-context/filenames/Care_for_a_Stuffed_Owl.txt.bz2
get-context/filenames/Care_for_Quail.txt.bz2
get-context/filenames/Care_for_Salamanders.txt.bz2
get-context/filenames/Carry_a_Puppy.txt.bz2
get-context/filenames/Catch_Crickets.txt.bz2
get-context/filenames/Catch_Kyogre_in_Pokémon_Sapphire.txt.bz2
get-context/filenames/Catch_the_Regis_in_Pokémon_Omega_Ruby_and_Alpha_Sapphire.txt.bz2
get-context/filenames/Celebrate_Rosh_Hashanah.txt.bz2
get-context/filenames/Change_the_Icon_for_an_Exe_File.txt.bz2
get-context/filenames/Chill_Champagne.txt.bz2
get-context/filenames/Choose_a_Flight_Instructor.txt.bz2
get-context/filenames/Choose_a_Minpin.txt.bz2
get-context/filenames/Choose_a_Protein_Powder.txt.bz2
get-context/filenames/Choose_a_Travel_Destination_when_Going_Alone.txt.bz2
get-context/filenames/Choose_Edible_Flowers.txt.bz2
get-context/filenames/Cite_an_Article_in_APA.txt.bz2
get-context/filenames/Clean_a_Bunn_Coffee_Pot.txt.bz2
get-context/filenames/Clean_a_Cool_Mist_Humidifier.txt.bz2
get-context/filenames/Clean_a_Gas_Stove_Top.txt.bz2
get-context/filenames/Clean_a_Nalgene_Bottle.txt.bz2
get-context/filenames/Clean_a_Recorder.txt.bz2
get-context/filenames/Clean_a_White_Leather_Jacket.txt.bz2
get-context/filenames/Clean_and_Maintain_Lory_and_Lorikeet_Habitats.txt.bz2
get-context/filenames/Clean_and_Polish_Seashells.txt.bz2
get-context/filenames/Clean_Any_Range_Trombone.txt.bz2
get-context/filenames/Clean_Cabinet_Hinges.txt.bz2
get-context/filenames/Clean_Copper_Jewelry.txt.bz2
get-context/filenames/Clean_Corningware.txt.bz2
get-context/filenames/Clean_Dubarry_Boots.txt.bz2
get-context/filenames/Clean_Earbuds.txt.bz2
get-context/filenames/Clean_Mold_in_Shower.txt.bz2
get-context/filenames/Clean_Muddy_Shoes.txt.bz2
get-context/filenames/Clean_Reusable_Shopping_Bags.txt.bz2
get-context/filenames/Clean_Rocks.txt.bz2
get-context/filenames/Clean_Vomit_from_Wood_Floors.txt.bz2
get-context/filenames/Clean_Your_Room.txt.bz2
get-context/filenames/Clean_Your_Sink.txt.bz2
get-context/filenames/Cleanse_Your_Colon.txt.bz2
get-context/filenames/Comfort_a_Sore_and_Itchy_Eye.txt.bz2
get-context/filenames/Communicate_to_Evoke_Admiration.txt.bz2
get-context/filenames/Condition_Curly_Hair.txt.bz2
get-context/filenames/Control_Disobedient_Dogs.txt.bz2
get-context/filenames/Control_Molluscum.txt.bz2
get-context/filenames/Control_Speakers_in_Multiple_Rooms.txt.bz2
get-context/filenames/Convert_YouTube_to_MP3.txt.bz2
get-context/filenames/Convince_Your_Child_Not_to_Go_to_War.txt.bz2
get-context/filenames/Convince_Your_Parents_to_Let_You_Have_a_Pet.txt.bz2
get-context/filenames/Cook_a_Chicken_in_a_George_Foreman_Rotisserie.txt.bz2
get-context/filenames/Cook_a_Frozen_Pie.txt.bz2
get-context/filenames/Cook_a_Potato_in_the_Microwave.txt.bz2
get-context/filenames/Cook_a_Turkey_Breast_in_the_Crock_Pot.txt.bz2
get-context/filenames/Cook_Authentic_Mexican_Chavindecas.txt.bz2
get-context/filenames/Cook_Butternut_Squash.txt.bz2
get-context/filenames/Cook_Cornish_Game_Hens.txt.bz2
get-context/filenames/Cook_Dried_Beans_Quickly.txt.bz2
get-context/filenames/Cook_Lasagne.txt.bz2
get-context/filenames/Cook_Onion_for_Curries_in_a_Pressure_Cooker.txt.bz2
get-context/filenames/Cook_Rice.txt.bz2
get-context/filenames/Cook_Roast_Beef.txt.bz2
get-context/filenames/Cook_Short_Grain_Brown_Rice.txt.bz2
get-context/filenames/Cook_Traditional_Myanmarese_Rice.txt.bz2
get-context/filenames/Cook_Vegetarian_Pasta.txt.bz2
get-context/filenames/Cope_if_Members_Are_Rude_or_Upset_You_on_a_Forum.txt.bz2
get-context/filenames/Cover_a_Popcorn_Ceiling.txt.bz2
get-context/filenames/Create_a_Christmas_Wreath.txt.bz2
get-context/filenames/Create_a_Natural_Daytime_Look.txt.bz2
get-context/filenames/Create_a_Robot_Model_in_MATLAB.txt.bz2
get-context/filenames/Create_a_Rooftop_Garden.txt.bz2
get-context/filenames/Create_a_Secret_Box.txt.bz2
get-context/filenames/Create_a_Solar_Cell_Using_Berries.txt.bz2
get-context/filenames/Create_a_Symbol.txt.bz2
get-context/filenames/Crochet_a_Mermaid_Blanket.txt.bz2
get-context/filenames/Crochet_Dreads.txt.bz2
get-context/filenames/Crop_Pages_in_a_PDF_Document.txt.bz2
get-context/filenames/Decide_if_a_Charter_School_is_Right_For_Your_Child.txt.bz2
get-context/filenames/Decide_if_Your_Friend_is_a_True_Friend.txt.bz2
get-context/filenames/Decorate_a_Hat.txt.bz2
get-context/filenames/Deep_Cleanse_Your_Face.txt.bz2
get-context/filenames/Defrag_Windows_8.txt.bz2
get-context/filenames/Defrost_Chicken_Fast.txt.bz2
get-context/filenames/Detail_a_Car.txt.bz2
get-context/filenames/Develop_Photos_at_Home.txt.bz2
get-context/filenames/Disable_Cookies.txt.bz2
get-context/filenames/Divide_Sedum.txt.bz2
get-context/filenames/Do_a_Yoga_Tree_Pose.txt.bz2
get-context/filenames/Do_an_Angel_Card_Reading.txt.bz2
get-context/filenames/Do_an_Open_Turn_in_Swimming.txt.bz2
get-context/filenames/Do_Different_Braids.txt.bz2
get-context/filenames/Do_Favors_in_Animal_Crossing:_New_Leaf.txt.bz2
get-context/filenames/Do_Fourth_of_July_Nails.txt.bz2
get-context/filenames/Do_Physical_Therapy_Exercises_for_the_Feet.txt.bz2
get-context/filenames/Do_the_Perfect_Pose_in_Yoga.txt.bz2
get-context/filenames/Do_the_Splits_in_a_Week_or_Less.txt.bz2
get-context/filenames/Do_Tile_Painting.txt.bz2
get-context/filenames/Do_Well_in_an_Online_College_Course.txt.bz2
get-context/filenames/Draft_a_Waiver_of_Liability.txt.bz2
get-context/filenames/Draw_a_My_Little_Pony_Lying_Down.txt.bz2
get-context/filenames/Drink_Green_Coffee.txt.bz2
get-context/filenames/Drink_Green_Tea.txt.bz2
get-context/filenames/Dye_Polyester_with_Dylon.txt.bz2
get-context/filenames/Dye_Your_Hair_at_Home.txt.bz2
get-context/filenames/Dye_Your_Hair_from_Brown_to_Blonde_Without_Bleach.txt.bz2
get-context/filenames/Eat_Nachos.txt.bz2
get-context/filenames/Eat_Quince.txt.bz2
get-context/filenames/Eat_Soup.txt.bz2
get-context/filenames/Eat_Walnuts.txt.bz2
get-context/filenames/Edit_a_MOV_File_on_PC_or_Mac.txt.bz2
get-context/filenames/Endorse_a_Check.txt.bz2
get-context/filenames/Exercise_Your_Back.txt.bz2
get-context/filenames/Extract_Your_DNA.txt.bz2
get-context/filenames/Feed_a_Baby_Kitten_Without_a_Mother.txt.bz2
get-context/filenames/File_a_Restraining_Order_in_California.txt.bz2
get-context/filenames/File_Chapter_7_Bankruptcy_Without_a_Lawyer.txt.bz2
get-context/filenames/Fill_a_Syringe.txt.bz2
get-context/filenames/Find_a_Child_Given_Up_for_Adoption.txt.bz2
get-context/filenames/Find_and_Update_Drivers.txt.bz2
get-context/filenames/Finish_Cutting_Boards.txt.bz2
get-context/filenames/Fix_a_Broken_Macbook_Pro_Trackpad.txt.bz2
get-context/filenames/Fix_a_Broken_Nail.txt.bz2
get-context/filenames/Fix_a_Stuck_Toilet_Handle.txt.bz2
get-context/filenames/Fix_Excessive_Underarm_Sweating.txt.bz2
get-context/filenames/Fix_Exotropia.txt.bz2
get-context/filenames/Fix_Nicotine_Stained_Fingers.txt.bz2
get-context/filenames/Fly_With_Kids.txt.bz2
get-context/filenames/Format_a_Letter.txt.bz2
get-context/filenames/Freeze_Homemade_Gnocchi.txt.bz2
get-context/filenames/Freeze_Leeks.txt.bz2
get-context/filenames/Fry_Goat_Cheese.txt.bz2
get-context/filenames/Get_a_Ph.D._in_Physics.txt.bz2
get-context/filenames/Get_Blonde_Hair_from_Dark_Brown.txt.bz2
get-context/filenames/Get_Dog_Hair_off_Furniture.txt.bz2
get-context/filenames/Get_Natural_Curls.txt.bz2
get-context/filenames/Get_Out_Blood_Stains.txt.bz2
get-context/filenames/Get_Police_Dog_Insurance.txt.bz2
get-context/filenames/Get_Ready_for_High_School.txt.bz2
get-context/filenames/Get_Rid_of_Pantry_Moths.txt.bz2
get-context/filenames/Get_Rid_of_the_Ask_Toolbar.txt.bz2
get-context/filenames/Get_Rust_Stains_out_of_Fabric.txt.bz2
get-context/filenames/Get_Soft_Hands.txt.bz2
get-context/filenames/Get_Someone_Committed_to_a_Mental_Hospital.txt.bz2
get-context/filenames/Get_the_Haircut_You_Want_at_the_Salon.txt.bz2
get-context/filenames/Give_Gaviscon_to_an_Infant.txt.bz2
get-context/filenames/Go_Grey_with_Dark_Hair.txt.bz2
get-context/filenames/Go_to_Disney_World_on_a_Budget.txt.bz2
get-context/filenames/Grill_Round_Steak.txt.bz2
get-context/filenames/Groom_a_Horse_for_Winter.txt.bz2
get-context/filenames/Groom_a_Tibetan_Spaniel.txt.bz2
get-context/filenames/Grow_Hair_Back_That_Has_Fallen_Off.txt.bz2
get-context/filenames/Grow_Lantana_Plants.txt.bz2
get-context/filenames/Grow_Plumeria_from_Cuttings.txt.bz2
get-context/filenames/Hack_a_Juke.txt.bz2
get-context/filenames/Hang_Diplomas.txt.bz2
get-context/filenames/Have_Fun_As_a_Nine‐Year‐Old.txt.bz2
get-context/filenames/Heal_Cervicitis.txt.bz2
get-context/filenames/Help_a_Child_Cope_with_a_No‐Show_Parent.txt.bz2
get-context/filenames/Help_a_Horse_With_Choke.txt.bz2
get-context/filenames/Hire_Someone_to_Wait_for_a_Delivery.txt.bz2
get-context/filenames/Host_a_Sleepover_when_You_Know_That_You_Wet_the_Bed.txt.bz2
get-context/filenames/Identify_an_A10_Thunderbolt.txt.bz2
get-context/filenames/Identify_Maine_Anjou_Cattle.txt.bz2
get-context/filenames/Increase_the_Length_of_Time_Your_Baby_Sleeps.txt.bz2
get-context/filenames/Install_Facebook_Messenger.txt.bz2
get-context/filenames/Install_Grammarly_on_Chrome.txt.bz2
get-context/filenames/Install_Homebrew_on_Wii_Menu_4.3.txt.bz2
get-context/filenames/Iron_a_Shirt.txt.bz2
get-context/filenames/Isolate_Cells_from_a_Rat_Heart.txt.bz2
get-context/filenames/Juggle_Three_Clubs.txt.bz2
get-context/filenames/Juggle_Two_Balls.txt.bz2
get-context/filenames/Jump_on_Skis.txt.bz2
get-context/filenames/Keep_a_Crab_Healthy.txt.bz2
get-context/filenames/Keep_a_Lovebird_As_a_Pet.txt.bz2
get-context/filenames/Keep_a_Strapless_Dress_Up.txt.bz2
get-context/filenames/Keep_Calm_when_You_Are_Annoyed_With_Someone.txt.bz2
get-context/filenames/Keep_Mashed_Potatoes_Warm.txt.bz2
get-context/filenames/Keep_Thigh_High_Boots_from_Slouching.txt.bz2
get-context/filenames/Keep_Your_Computer_up_to_Date.txt.bz2
get-context/filenames/Keep_Your_Dorm_Clean.txt.bz2
get-context/filenames/Keep_Your_Toddler_from_Biting.txt.bz2
get-context/filenames/Kill_Prostrate_Spurge.txt.bz2
get-context/filenames/Know_if_You_Are_Growing_Taller.txt.bz2
get-context/filenames/Know_when_to_Reopen_an_Estate.txt.bz2
get-context/filenames/Learn_Pole_Dancing.txt.bz2
get-context/filenames/Leave_a_Guild_in_World_of_Warcraft.txt.bz2
get-context/filenames/Load_a_Horse_on_a_Trailer.txt.bz2
get-context/filenames/Look_Perfect_in_Two_Weeks.txt.bz2
get-context/filenames/Loosen_a_Hard_to_Close_Zipper.txt.bz2
get-context/filenames/Maintain_Stubble.txt.bz2
get-context/filenames/Make_a_3D_Stuffed_Giraffe.txt.bz2
get-context/filenames/Make_a_4_Layer_Sandwich.txt.bz2
get-context/filenames/Make_a_Beach_Ball_Party_Arch.txt.bz2
get-context/filenames/Make_a_Cake_Using_a_Pressure_Cooker.txt.bz2
get-context/filenames/Make_a_Cardboard_Puzzle.txt.bz2
get-context/filenames/Make_a_Cartoon_Sound_on_the_Violin.txt.bz2
get-context/filenames/Make_a_Disco_Ball_with_CDs.txt.bz2
get-context/filenames/Make_a_Dosa.txt.bz2
get-context/filenames/Make_a_Fake_Bruise.txt.bz2
get-context/filenames/Make_a_Fan.txt.bz2
get-context/filenames/Make_a_Fishtail_Loom_Bracelet.txt.bz2
get-context/filenames/Make_a_Flamingo_Fruit_Martini.txt.bz2
get-context/filenames/Make_a_Homemade_Protein_Shake_Without_Protein_Powder.txt.bz2
get-context/filenames/Make_a_Lemon_and_Lime_Facial_Scrub.txt.bz2
get-context/filenames/Make_a_Marshmallow_Catapult.txt.bz2
get-context/filenames/Make_a_Motorcycle_out_of_Old_Watches.txt.bz2
get-context/filenames/Make_a_Panini.txt.bz2
get-context/filenames/Make_a_Paper_and_Glass_Paint_Brush_Holder.txt.bz2
get-context/filenames/Make_a_Party_Fix_It_Kit.txt.bz2
get-context/filenames/Make_a_Pogo_Cello.txt.bz2
get-context/filenames/Make_a_Side_Fringe_Without_Cutting_Your_Hair.txt.bz2
get-context/filenames/Make_a_Simple_Inside_Windshield_Cleaner.txt.bz2
get-context/filenames/Make_a_Smoke_Bomb.txt.bz2
get-context/filenames/Make_a_Snake_Game_with_Visual_Studio.txt.bz2
get-context/filenames/Make_a_Social_Phone_Call.txt.bz2
get-context/filenames/Make_a_Sock_Doll.txt.bz2
get-context/filenames/Make_a_Tiramisu_Martini.txt.bz2
get-context/filenames/Make_a_Trophy.txt.bz2
get-context/filenames/Make_a_Vegan_Bread_and_Butter_Pudding.txt.bz2
get-context/filenames/Make_a_Watermelon_Grapefruit_Shooter.txt.bz2
get-context/filenames/Make_a_YouTube_Poop_Short.txt.bz2
get-context/filenames/Make_Aaloo_Ki_Tikki.txt.bz2
get-context/filenames/Make_Alcohol_from_Common_Table_Sugar.txt.bz2
get-context/filenames/Make_an_Airsoft_Grenade.txt.bz2
get-context/filenames/Make_an_Anatomically_Correct_Brain_Cake.txt.bz2
get-context/filenames/Make_an_Apple_Facial_Mask.txt.bz2
get-context/filenames/Make_an_Easy_Wheat_and_Rye_Bread.txt.bz2
get-context/filenames/Make_an_Origami_Inflatable_Pyramid.txt.bz2
get-context/filenames/Make_Austrian_Cake.txt.bz2
get-context/filenames/Make_Avocado_Butter.txt.bz2
get-context/filenames/Make_Baking_Soda_Snow.txt.bz2
get-context/filenames/Make_Banana_Cake.txt.bz2
get-context/filenames/Make_Butter_from_Raw_Milk.txt.bz2
get-context/filenames/Make_Cake_Balls.txt.bz2
get-context/filenames/Make_Chicken_and_Noodles.txt.bz2
get-context/filenames/Make_Cinnamon_Ice_Cream.txt.bz2
get-context/filenames/Make_Cookies.txt.bz2
get-context/filenames/Make_Custard_Scone_Dessert.txt.bz2
get-context/filenames/Make_Earplugs.txt.bz2
get-context/filenames/Make_Eggnog.txt.bz2
get-context/filenames/Make_Face_Masks_Using_Natural_Ingredients.txt.bz2
get-context/filenames/Make_Fake_Braces_or_a_Fake_Retainer.txt.bz2
get-context/filenames/Make_Fettuccine_Alfredo.txt.bz2
get-context/filenames/Make_French_Fries.txt.bz2
get-context/filenames/Make_Friends_Via_Cell_Phone.txt.bz2
get-context/filenames/Make_Ginger_Ale.txt.bz2
get-context/filenames/Make_Glow_in_the_Dark_Stepping_Stones.txt.bz2
get-context/filenames/Make_Gluten‐Free_Vegan_Apple_Cinnamon_Rolls.txt.bz2
get-context/filenames/Make_Hot_Chocolate_from_Carnation_Mix.txt.bz2
get-context/filenames/Make_Jeera_Rice.txt.bz2
get-context/filenames/Make_Non_Slip_Socks.txt.bz2
get-context/filenames/Make_Oatmeal_with_Cooked_Apple_Slices.txt.bz2
get-context/filenames/Make_Paper_Lilies.txt.bz2
get-context/filenames/Make_Papier_Mâché_Paste.txt.bz2
get-context/filenames/Make_Pizza_Using_Hot_Dog_Buns.txt.bz2
get-context/filenames/Make_Plates.txt.bz2
get-context/filenames/Make_Raspberry_Ice_Cream_in_a_Bag.txt.bz2
get-context/filenames/Make_Red_Bean_Paste.txt.bz2
get-context/filenames/Make_Schezwan_Sauce.txt.bz2
get-context/filenames/Make_Slime_Using_Baking_Soda.txt.bz2
get-context/filenames/Make_Spring_Rolls_with_Cherry_Filling.txt.bz2
get-context/filenames/Make_the_Perfect_Sticky_Brownie.txt.bz2
get-context/filenames/Make_Tofu.txt.bz2
get-context/filenames/Make_Vegan_Crème_Brûlée.txt.bz2
get-context/filenames/Make_Vegetable_and_Egg_Bean_Burritos.txt.bz2
get-context/filenames/Make_Your_Own_Video_Game.txt.bz2
get-context/filenames/Make_Your_YouTube_Channel_More_Popular.txt.bz2
get-context/filenames/Microwave_Refrigerated_Rice.txt.bz2
get-context/filenames/Open_a_Bottle_with_a_Ring.txt.bz2
get-context/filenames/Overcome_Stage_Fright.txt.bz2
get-context/filenames/Perform_the_Heimlich_Maneuver.txt.bz2
get-context/filenames/Pick_Strawberries.txt.bz2
get-context/filenames/Plan_Your_Wedding.txt.bz2
get-context/filenames/Play_a_G_Chromatic_Scale_on_Trumpet.txt.bz2
get-context/filenames/Pop_a_Pimple.txt.bz2
get-context/filenames/Prepare_Beets_for_a_Salad.txt.bz2
